// Global Variables

// Font
$primary-font-color: #fff;
$secondary-font-color: #272727;
$red-font: #EF0031;

// Hover
$primary-hover-color: #ff0b3c;

// Transitions
$transition-behavor: all 200ms ease-in-out;

// Borders
$border-radius: 3px;

// Btn Colors
$primary-btn-bg-color: #E6002E;

// Card Styles
$card-order-select: #3ae93a38;


// Header Variables
$header-bg-color: #000000ab;
// $border-color: #eee;
$border-color: #eeeeee7c;




